*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif; 
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #1abc9c;
}
.wrapper{
    width: 380px;
     border-radius: 5px;
     background: #fff;
}
.wrapper .title{
    line-height: 90px;
    background: #16a085;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.wrapper form{
    padding: 30px 25px 25px 25px;
}
.wrapper form .row{
    height: 45px;
    margin-bottom: 45px;
    position: relative;
}
.wrapper form .row input  {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: #16a085;
    box-shadow:inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
    font-size: 17px;

}

.wrapper form .button input{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
}
form .button input:hover {
    background: #12876f;
}
.wrapper form .signup-link {
    text-align: center;
    margin: 20px;

}
.wrapper form .signup-link a{
    color: #16a085;
    font-size: 18px;
    text-decoration: none;
}
